.DS_Store

# eclipse
.settings/
Default/
.project
.cproject
.classpath

# IDEA
.idea/
*.iml

#vscode
.vscode/

# vs projects
.sln
.vs

#CMake
build


# java 
.gradle
*.class


# Temporary documents 
~$*.doc
~$*.docx
~$*.xlsx

# compile cpp Temporary files
*.o
*.so
*.bak

# compress files
*.zip

# self
k8s/batch_jobs/jobs/